<div id="{{ column_id }}" class="cpb-column {{ col_class }}" style="{{ col_style }}" {{ col_animate.duration }} {{ col_animate.delay }}>
    <div class="column-inner" style="{{ col_style }}">
        {% for item in field_items %}
            {{ item | render }}
        {% endfor %}
    </div>
</div>
