
<div class="cpb-element cpb-columns {{ column_type ? 'type-' ~ column_type : '' }} {{ column_size ? 'wb-' ~ column_size : ''}}">
   <div class="gavias-blockbuilder-content">
      <input type="hidden" class="cpb-column-id" name="cpb-column-id[]" value="{{ column_id }}" />
      <div class="cpb-el-header header-column">
          <div class="cpb-add-element">
            <a class="bb-drap action" ><i class="fa fa-arrows"></i></a>
            <a class="cpb-add action" ><i class="fa fa-plus"></i></a>
            <div class="cpb-items">
              <div class="hedding">
                <span>Add Element</span>
                <a class="bb-btn close-cpb-items"><i class="fa fa-times"></i></a>
              </div>
              <ul class="clearfix">
                  {% if item_std %}
                    {% for key , value_item_std in item_std  %}
                      <li><a class="{{ value_item_std.type }}" >{{ value_item_std.title }}</a></li>
                    {% endfor %}
                  {% endif %}
              </ul>
            </div>
          </div>
          <div class="element-size">
            <a class="bb-btn cpb-minus" >-</a>
            <span class="item-w-label">{{ column_size }}</span>
            <a class="bb-btn cpb-plus" >+</a>
            
          </div>
          <div class="cpb-el-action">
            <a class="bb-btn cpb-edit border-none" title="Edit" ><i class="fa fa-pencil"></i></a>
            <a class="bb-btn cpb-column-clone cpb-item-clone" title="Clone" ><i class="fa fa-clone"></i></a>
            <a class="bb-btn cpb-column-delete" title="Delete"><i class="fa fa-times"></i></a>

          </div>
      </div>
         
      <div class="cpb-droppable cpb-sortable cpb-droppable-column clearfix">
        {% if column.items %}
          {% for key , val_column_item in column.items %}
            {{ custom_pagebuilder_column_elements(item_std[val_column_item.type], val_column_item, column_id, row_id) }}
          {% endfor %}
        {% endif %}
      </div>
      <input type="hidden" class="column-size" name="cpb-columns[size][]" value="{{ column_size }}">
      <input type="hidden" class="column-parent" name="column-parent[]" value="{{ row_id }}" />
      <input type="hidden" class="column-type" name="cpb-columns[type][]" value="{{ column_type }}" />
   </div>
      
     <div class="cpb-el-meta">
        <div class="cpb-form">
            {{ cpb_fields_twig(column_std, column) }}
        </div>
     </div>
      
  </div>