<div class="cpb-element cpb-item wb-12 cpb-type-{{ item_std.type }}">            
  <div class="custom-pagebuilder-content-page">
    <div class="cpb-el-header">
      <div class="cpb-el-action">
        <a class="bb-btn cpb-el-delete" title="Delete" ><i class="fa fa-times"></i></a>
      </div>
	  <div class="element-size">
        <a class="bb-btn bb-el-drap action"><i class="fa fa-arrows"></i></a>
        <a class="bb-btn cpb-edit border-none" title="Edit" ><i class="fa fa-pencil"></i></a>
        <a class="bb-btn cpb-el-clone cpb-item-clone" title="Clone" ><i class="fa fa-clone"></i></a>
      </div>
    </div>
    
    {% if item_std.type == 'gsc_code' %}
      <div class="cpb-item-colums cpb-droppable" style="min-height:200px;border: 1px solid #ccc;"></div>
    {% else %}
    <div class="cpb-item-content">
       <span class="cpb-item-title">{{ item_std.title }}</span>
       <span class="item-bb-title">{{ label }}</span>
     </div>
    {% endif %}
    
    <input type="hidden" class="element-type" name="{{ element_type | trim }}" value="{{ item_std.type }}">
    <input type="hidden" class="element-parent" name="{{ element_parent | trim }}" value="{{ column_id }}" />
    <input type="hidden" class="element-row-parent" name="{{ element_row_parent | trim }}" value="{{ row_id }}" />
  </div>
    
    <div class="cpb-el-meta">
      <div class="cpb-form"> 
          {{ kint(item_std) }}
        {{ cpb_fields_element_twig(item_std, cpb_item) }} 
    </div>
  </div>
</div>