<h1>Builder Page {{ cpb_title }}</h1>
<div id="wrapper-custom-pagebuilder-setting-content">
  <div id="cpb-builder">
  {# kint(custom_pagebuild_object) #}

   <input type="hidden" id="cpb-row-id" value="{{ cpb_rows_count }}" />
   <input type="hidden" id="cpb-column-id" value="0" />

   <div id="cpb-content">
      <div id="cpb-admin-wrap" class="clearfix">
        {% if cpb_page_els %}
          {% for key, value_els in cpb_page_els %}
              {{ custom_pagebuilder_row_twig(cpb_els_ops,cpb_rows_opts, cpb_columns_opts, value_els, key + 1) }}
          {% endfor %}
        {% endif %}
      </div>
      
      <div id="cpb-rows" class="clearfix">
          {{ custom_pagebuilder_row_twig(cpb_els_ops,cpb_rows_opts, cpb_columns_opts) }}
      </div>
      
      <div id="cpb-columns" class="clearfix">
        {{ custom_pagebuilder_column_twig(cpb_els_ops, cpb_columns_opts) }}
      </div>

      <div id="cpb-items" class="clearfix">
        {% if cpb_els_ops %}
            {{ kint(cpb_els_ops) }}
        {% for key, value_els_ops in cpb_els_ops %}
            {{ custom_pagebuilder_column_elements(value_els_ops) }}
        {% endfor %}
        {% endif %}       
      </div>

      <div class="cpb-row-add">
         <a class="bb-btn-row-add" title="Add row" ><i class="fa fa-plus-square-o"></i></a>    
      </div>
  </div>
  <div>
    <div class="custom-pagebuilder-overlay"></div>
    <div id="cpb-form-setting">
      <div class="action">
        <a class="bb-btn-close cpb-form-setting-cancel">Cancel</a> 
        <a class="cpb-form-setting-save">Save changes</a> 
      </div>  
    </div>
    <div id="cpb-form-setting--2">
      <div class="action">
        <a class="bb-btn-close cpb-form-setting-cancel">Cancel</a> 
        <a class="cpb-form-setting-save">Save changes</a> 
      </div>  
    </div>
  </div>  
</div>
</div>
<input type="hidden" value="{{ pid }}" id="custom_pagebuilder_page_id" name="custom_pagebuilder_page_id" />
<input type="button" id="save" class="button button-action button--primary button--small" value="Save"/>