<h1>Builder Page {{ cpb_title }}</h1>
<div id="gavias-blockbuilder-setting">
  <div id="gbb-builder">
  {# kint(custom_pagebuild_object) #}
   <div class="gbb-block-title">
    <?php print 'Edit: ' ?>{{ cpb_title }} <span style="color:red;">
      <?php print "[gbb name=\"{$gbb_shortcode}\"]" ?></span> ( ID: <?php print $gbb_id ?> | 
      <a href="<?php print \Drupal::url('gavias_blockbuilder.admin.import', array('bid' => $gbb_id)) ?>">Import
      </a> | <a href="<?php print \Drupal::url('gavias_blockbuilder.admin.export', array('bid' => $gbb_id)) ?>">Export</a> )
   </div>

   <input type="hidden" id="gbb-row-id" value="{{ cpb_rows_count }}" />
   <input type="hidden" id="gbb-column-id" value="0" />

   <div id="gbb-content">
      <div id="gbb-admin-wrap" class="clearfix">
        {% if cpb_page_els %}
          {% for key, value_els in cpb_page_els %}
              {{ custom_pagebuilder_row_twig(cpb_els_ops,cpb_rows_opts, cpb_columns_opts, value_els, key + 1) }}
          {% endfor %}
        {% endif %}
      </div>
      
      <div id="gbb-rows" class="clearfix">
          {{ custom_pagebuilder_row_twig(cpb_els_ops,cpb_rows_opts, cpb_columns_opts) }}
      </div>
      
      <div id="gbb-columns" class="clearfix">
        {{ custom_pagebuilder_column_twig(cpb_els_ops, cpb_columns_opts) }}
      </div>

      <div id="gbb-items" class="clearfix">
        {% if cpb_els_ops %}
            {{ kint(cpb_els_ops) }}
        {% for key, value_els_ops in cpb_els_ops %}
            {{ custom_pagebuilder_column_elements(value_els_ops) }}
        {% endfor %}
        {% endif %}       
      </div>

      <div class="gbb-row-add">
         <a class="bb-btn-row-add" title="Add row" ><i class="fa fa-plus-square-o"></i></a>    
      </div>
  </div>
  <div>
    <div class="gavias-overlay"></div>
    <div id="gbb-form-setting">
      <div class="action">
        <a class="bb-btn-close gbb-form-setting-cancel">Cancel</a> 
        <a class="gbb-form-setting-save">Save changes</a> 
      </div>  
    </div>
    <div id="gbb-form-setting--2">
      <div class="action">
        <a class="bb-btn-close gbb-form-setting-cancel">Cancel</a> 
        <a class="cpb-form-setting-save">Save changes</a> 
      </div>  
    </div>
  </div>  
</div>
</div>
<input type="hidden" value="{{ pid }}" id="custom_pagebuilder_page_id" name="custom_pagebuilder_page_id" />
<input type="button" id="save" class="button button-action button--primary button--small" value="Save"/>