<div class="gbb-element gbb-item wb-12 gbb-type-{{ item_std.type }}">            
  <div class="gavias-blockbuilder-content">
    <div class="gbb-el-header">
      <div class="gbb-el-action">
        <a class="bb-btn gbb-el-delete" title="Delete" ><i class="fa fa-times"></i></a>
      </div>
	  <div class="element-size">
        <a class="bb-btn bb-el-drap action"><i class="fa fa-arrows"></i></a>
        <a class="bb-btn gbb-edit border-none" title="Edit" ><i class="fa fa-pencil"></i></a>
        <a class="bb-btn gbb-el-clone gbb-item-clone" title="Clone" ><i class="fa fa-clone"></i></a>
      </div>
    </div>
    
    {% if item_std.type == 'gsc_code' %}
      <div class="gbb-item-colums gbb-droppable" style="min-height:200px;border: 1px solid #ccc;"></div>
    {% else %}
    <div class="gbb-item-content">
       <span class="gbb-item-title">{{ item_std.title }}</span>
       <span class="item-bb-title">{{ label }}</span>
     </div>
    {% endif %}
    
    <input type="hidden" class="element-type" {{ element_type }} value="{{ item_std.type }}">
    <input type="hidden" class="element-parent" {{ element_parent }} value="{{ column_id }}" />
    <input type="hidden" class="element-row-parent" {{ element_row_parent }} value="{{ row_id }}" />
  </div>
    
    <div class="gbb-el-meta">
      <div class="gbb-form"> 
        {{ cpb_fields_element_twig(item_std, cpb_item) }} 
    </div>
  </div>
</div>